<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="UI autotests">
    <listeners>
        <listener class-name="utils.logging.TestListener"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
    </listeners>
    <test name="Book test">
        <classes>
            <class name="tests.BookTest"/>
        </classes>
    </test>
</suite>